@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff");
    font-style: bold;
    font-weight: 700;
}